html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    /* border:0.5px solid black; */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap');

body {
  transition: all 0.3s ease;
}

* {
  font-family: 'Nunito', sans-serif;
}

form {
  margin-top: 30%;
}

form button {
  margin: 3vh;
  padding: 2vh; 
  background-color: #E8505B;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}


form input {
  margin: 8px;
}

form div {
  display: flex;
  flex-direction: column;
}

.profileCard img {
  height: 200px;
  width: 200px;
}

.profile {
  margin-top: 20%;
  text-align: center;
}

.dark {
	background: none;
	background: rgb(70, 73, 80);
  color: white;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.left img {
  margin-bottom: 10px;
}

.left button {
  border-radius: 20px;
  text-transform: uppercase;
}

.left button:hover {
  background-color: #e98b91;
  transition: 0.3s ease;
}

.edit, .view{
  margin-top: 10px;
  background-color: rgb(240, 171, 45);

  padding: 2vh; 
  height: 50px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;

  color: white;
  letter-spacing: 2px;
}

.edit:hover, .view:hover{
  background-color: rgb(255, 219, 153);
  transition: 0.3s ease;
}

button {
  margin: 3vh;
  padding: 2vh; 
  height: 50px;
  background-color: #E8505B;
  border-radius: 20px;
  border: none;
  outline: none;

  color: white;
  letter-spacing: 2px;
}

#nav {
  top: 0;
  right: 0;
  z-index: 0;
  display:flex ;
  flex-direction: row;
  justify-content: space-evenly;
}

.message {
  color: rgb(25, 180, 25);
  text-shadow: 0 0 1px black;
}

.RegLink button {
  color: whitesmoke;
  font-size: large; 
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  border-radius: 25px; 
  
}

.TTS_ONLY {
  display: none;
}

.landbuttons {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto; 
  padding: 3vh; 
  align-items: center;
}

.Login {
  font-family: 'Quicksand', sans-serif;
  border-radius: 25px;
  padding: 5vh; 
  padding-left: 10vh;
  padding-right: 10vh;
  margin: 2vh; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  color:whitesmoke;
  background-color: black;
  width: 100%;
}

nav {
  background: linear-gradient(to  right, #a35d0c 0%, #ccc922 100%);
  width: 100%;
  padding: 10px 0;
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  color: white;
}

.tv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: white;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(221, 171, 34);
  text-shadow: 0 0 2px black;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
}

#dashNav {
	z-index: 1;
	position: fixed;
  top: 0;

  display: flex;
  font-size: 1.4rem;
  justify-content: space-evenly;
  align-items: center;
}

#dashNav .logout {
  color: rgb(236, 92, 92);
}


#darkMode {
	-webkit-appearance: none;
	outline: none;
	background-color: rgb(241, 184, 76);
	height: 20px;
	width: 40px;
	border-radius: 20px;
	transition: 0.4s ease;
	z-index: 3;
}

#darkMode:checked {
	background-color: rgb(216, 238, 120);
}

#darkMode::before {
	content: "";
	position: absolute;
	background-color: white;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

nav .signout {
  color: rgb(248, 81, 81);
  cursor: pointer 
}

#darkMode:checked::before {
	transform: translateX(25px);
	transition: 0.4s ease;
}

.listings {
  text-align: center;
  margin-top: 70px;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 50vw;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  color: black;
  margin: 5px;
  text-align: left;
  text-transform: capitalize;
}

.cards .info {
  display: flex;
  flex-direction: column;
}

.cards img {
  border-radius: 20px;
  height: 200px;
  width: 200px;
}

h1 {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 2rem;
}

.cards h3 img {
  width: 30px;
  height: 30px;
  border-radius: none;
  margin: 5px;
}
