//Mixins

@mixin flexCenter($direction, $align) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
  align-items: $align;
}

@mixin backgroundImage {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1568941159284-3b299541ee63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin navBar {
  text-decoration: none;
  color: $primaryTextColor;
  padding: 3% 2% 3% 2%;
  font-weight: 600;
  font-size: 1rem;
}

@mixin primaryButton {
  background-color: $backgroundColorPink;
  color: $primaryTextColor;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  padding: 1%;
}

//CSS

#homepage-header {
  @include backgroundImage();
  .logo-nav-container {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    .logo {
      @include flexCenter(row, center);
      margin: 0 0 0 3%;
      width: 10%;
      i {
        padding: 3%;
      }
    }
    .nav-container {
      display: flex;
      justify-content: flex-end;
      width: 90%;
      margin: 0 3% 0 0;
      a {
        @include navBar();
      }
    }
  }
  .slogan-container {
    @include flexCenter(column, center);
    margin: 15% 0 10% 0;
    .slogan {
      font-size: 1.5rem;
    }
    .header-button {
      @include flexCenter(row, center);
      width: 100%;
      a {
        button {
        }
      }
    }
  }
}
