/*Media Queries*/

@media (max-width: 1920px) {
  /*Header*/
  #homepage-header {
    height: 90vh;
    .slogan-container {
      margin: 5% 0 10% 0;
    }
  }
  #safety-header {
    height: 90vh;
    .slogan-container {
      margin: 9% 0;
    }
  }
  #about-header {
    height: 90vh;
    .slogan-container {
      margin: 9% 0;
    }
  }
  /*Body*/

  /*Footer*/
}

@media (max-width: 1366px) {
  /*Header*/

  /*Body*/

  /*Footer*/
}

@media (max-width: 800px) {
  /*Header*/

  /*Body*/

  /*Footer*/
}

@media (max-width: 500px) {
  /*Header*/

  /*Body*/

  /*Footer*/
}

@media (max-width: 360px) {
  /*Header*/

  /*Body*/

  /*Footer*/
}
