/*Media Queries*/

@media (max-width: 1920px) {
  /*Header*/
  #homepage-header {
    height: 90vh;
    .slogan-container {
      margin: 5% 0 10% 0;
    }
  }
  #safety-header {
    height: 90vh;
    .slogan-container {
      margin: 9% 0;
    }
  }
  #about-header {
    height: 90vh;
    .slogan-container {
      margin: 9% 0;
    }
  }
}

@media (max-width: 1366px) {
  /*Header*/
  #homepage-header {
    height: 90vh;
    .slogan-container {
      margin: 10% 0;
    }
  }
  #safety-header {
    height: 90vh;
    .slogan-container {
      margin: 15% 0;
    }
  }
  #about-header {
    height: 90vh;
    .slogan-container {
      margin: 15% 0;
    }
  }
}

@media (max-width: 800px) {
  /*Header*/
  #homepage-header {
    height: 90vh;
    .slogan-container {
      margin: 25% 0;
    }
  }
  #safety-header {
    height: 90vh;
    .slogan-container {
      margin: 30% 0;
    }
  }
  #about-header {
    height: 90vh;
    .slogan-container {
      margin: 30% 0;
    }
  }
  /*Body*/
  .about-images {
    flex-wrap: wrap;

    .about-location {
      margin: 5% 0;
    }
    .about-time {
      margin: 5% 0;
    }
    .about-features {
      margin: 5% 0;
    }
  }
}

@media (max-width: 500px) {
  /*Header*/
  #homepage-header {
    .logo {
      @include logoMobile();
    }
    .nav-container {
      a {
        @include navBarMobile();
      }
      a:hover {
        font-size: 1.2rem;
      }
    }
    .slogan {
      padding: 3%;
      font-size: 2.3rem;
      text-align: center;
    }
  }
  /*Body*/
  .about-images {
    img {
      @include aboutImageMobile();
    }
  }
  /*Footer*/
}

@media (max-width: 360px) {
  /*Header*/

  /*Body*/

  /*Footer*/
}
