//Text Colors
$primaryTextColor: white;
$secondaryTextColor: rgb(56, 56, 56);
$textColorPink: #e8505b;
$textColorYellow: #f9d56e;
$textColorCream: #f3ecc2;
$textColorTurquoise: #14b1ab;

//Background Colors
$backgroundColorPink: #e8505b;
$backgroundColorYellow: #f9d56e;
$backgroundColorCream: #f3ecc2;
$backgroundColorTurquoise: #14b1ab;

//Border Colors:
$borderColor: 1px solid lightgray;
