//Import

@import "./imports";

//General

html {
  font-size:62.5%;
  font-family: "Quicksand", sans-serif;
  color: $primaryTextColor;
}

h1,
h2,
h3 {
  font-weight: 600;
}

//Homepage About

#homepage-about {
  @include flexCenter(row, center);
  color: $secondaryTextColor;
  background-color: white;
  padding: 5%;
  .about-container {
    width: 100%;
    @include flexCenter(column, center);
    .about-text {
      @include flexCenter(column, center);
      width: 100%;
      margin: 0 0 5% 0;
      .about-heading {
        font-size: 2.5rem;
        padding: 1%;
        width: 100%;
        text-align: center;
      }
      .about-subheading {
        font-size: 1.8rem;
        padding: 1%;
        width: 100%;
        text-align: center;
      }
    }
    .about-images {
      @include flexCenter(row, center);
      width: 100%;
      font-weight: 600;
      .about-location {
        @include flexCenter(column, center);
        @include aboutImageAndText();
        .location {
          font-size: 1.8rem;
          padding: 5%;
        }
      }
      .about-time {
        @include flexCenter(column, center);
        @include aboutImageAndText();
        .time {
          font-size: 1.8rem;
          padding: 5%;
        }
      }
      .about-features {
        @include flexCenter(column, center);
        @include aboutImageAndText();
        .features-text {
          font-size: 1.8rem;
          padding: 5%;
        }
      }
      img {
        @include aboutImage();
      }
    }
  }
}

#homepage-call-to-action {
  .cta-text {
    background-color: black;
    padding: 5% 0 5% 0;
    margin: 0 0 5% 0;
    text-align: center;
    color: $primaryTextColor;
    font-size: 2rem;
    button {
      @include primaryButton();
    }
    button:hover {
      background-color: white;
      color: $secondaryTextColor;
      font-weight: 600;
    }
  }
}

//About Us

.person {
  @include flexCenter(row, flex-start);
  img {
    @include aboutUsImage;
  }
  h4 {
    text-align: center;
    margin: 0 0 10% 0;
  }
  .bio-container {
    padding: 0 0 0 5%;
  }
}
