/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#homepage-header {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1568941159284-3b299541ee63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#homepage-header .logo-nav-container {
  background-color: black;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#homepage-header .logo-nav-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin: 0 0 0 3%;
  width: 10%;
}

#homepage-header .logo-nav-container .logo i {
  padding: 3%;
}

#homepage-header .logo-nav-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: 0 3% 0 0;
}

#homepage-header .logo-nav-container .nav-container a {
  text-decoration: none;
  color: white;
  padding: 2%;
  font-weight: 600;
  font-size: 1.6rem;
}

#homepage-header .logo-nav-container .nav-container a:hover {
  font-size: 1.8rem;
}

#homepage-header .slogan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 0 10% 0;
}

#homepage-header .slogan-container .slogan {
  padding: 2%;
  font-size: 3rem;
}

#homepage-header .slogan-container .header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#homepage-header .slogan-container .header-button a {
  background-color: #e8505b;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  font-size: 1.5rem;
}

#homepage-header .slogan-container .header-button a button {
  border: none;
  font-size: 1.5rem;
  background-color: #e8505b;
  color: white;
}

#homepage-header .slogan-container .header-button a button:hover {
  font-size: 1.7rem;
}

#safety-header {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1584634731339-252c581abfc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1054&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#safety-header .logo-nav-container {
  background-color: black;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#safety-header .logo-nav-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin: 0 0 0 3%;
  width: 10%;
}

#safety-header .logo-nav-container .logo i {
  padding: 3%;
}

#safety-header .logo-nav-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: 0 3% 0 0;
}

#safety-header .logo-nav-container .nav-container a {
  text-decoration: none;
  color: white;
  padding: 2%;
  font-weight: 600;
  font-size: 1.6rem;
}

#safety-header .logo-nav-container .nav-container a:hover {
  font-size: 1.8rem;
}

#safety-header .slogan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 0 10% 0;
}

#safety-header .slogan-container .slogan {
  font-size: 3rem;
  color: #383838;
}

#safety-header .slogan-container .header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#safety-header .slogan-container .header-button a {
  background-color: #e8505b;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  font-size: 1.5rem;
}

#safety-header .slogan-container .header-button a button {
  border: none;
  font-size: 1rem;
  background-color: #e8505b;
  color: white;
}

#about-header {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#about-header .logo-nav-container {
  background-color: black;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#about-header .logo-nav-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin: 0 0 0 3%;
  width: 10%;
}

#about-header .logo-nav-container .logo i {
  padding: 3%;
}

#about-header .logo-nav-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: 0 3% 0 0;
}

#about-header .logo-nav-container .nav-container a {
  text-decoration: none;
  color: white;
  padding: 2%;
  font-weight: 600;
  font-size: 1.6rem;
}

#about-header .logo-nav-container .nav-container a:hover {
  font-size: 1.8rem;
}

#about-header .slogan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 0 10% 0;
}

#about-header .slogan-container .slogan {
  font-size: 3rem;
}

#about-header .slogan-container .header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#about-header .slogan-container .header-button a {
  background-color: #e8505b;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  font-size: 1.5rem;
}

#about-header .slogan-container .header-button a button {
  border: none;
  font-size: 1rem;
  background-color: #e8505b;
  color: white;
}

#footer {
  background-color: #14b1ab;
  padding: 3%;
}

#footer .footer-container {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-container .footer-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

#footer .footer-container .footer-container-right .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-container .footer-container-right .social-icons a {
  color: white;
  margin: 20%;
}

/*Media Queries*/
@media (max-width: 1920px) {
  /*Header*/
  #homepage-header {
    height: 90vh;
  }
  #homepage-header .slogan-container {
    margin: 5% 0 10% 0;
  }
  #safety-header {
    height: 90vh;
  }
  #safety-header .slogan-container {
    margin: 9% 0;
  }
  #about-header {
    height: 90vh;
  }
  #about-header .slogan-container {
    margin: 9% 0;
  }
  /*Body*/
  /*Footer*/
}

@media (max-width: 1366px) {
  /*Header*/
  /*Body*/
  /*Footer*/
}

@media (max-width: 800px) {
  /*Header*/
  /*Body*/
  /*Footer*/
}

@media (max-width: 500px) {
  /*Header*/
  /*Body*/
  /*Footer*/
}

@media (max-width: 360px) {
  /*Header*/
  /*Body*/
  /*Footer*/
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
}

#homepage-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383838;
  background-color: white;
  padding: 5%;
}

#homepage-about .about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage-about .about-container .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 5% 0;
}

#homepage-about .about-container .about-text .about-heading {
  font-size: 2.5rem;
  padding: 1%;
  width: 100%;
  text-align: center;
}

#homepage-about .about-container .about-text .about-subheading {
  font-size: 1.8rem;
  padding: 1%;
  width: 100%;
  text-align: center;
}

#homepage-about .about-container .about-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 600;
}

#homepage-about .about-container .about-images .about-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% 0 5%;
  border-radius: 10%;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

#homepage-about .about-container .about-images .about-location .location {
  padding: 5%;
  font-size: 1.6rem;
}

#homepage-about .about-container .about-images .about-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% 0 5%;
  border-radius: 10%;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

#homepage-about .about-container .about-images .about-time .time {
  padding: 5%;
  font-size: 1.6rem;
}

#homepage-about .about-container .about-images .about-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% 0 5%;
  border-radius: 10%;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

#homepage-about .about-container .about-images .about-features .features-text {
  padding: 5%;
  font-size: 1.6rem;
}

#homepage-about .about-container .about-images img {
  length: 300px;
  width: 300px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

#homepage-call-to-action .cta-text {
  background-color: black;
  padding: 5% 0 5% 0;
  margin: 0 0 5% 0;
  text-align: center;
  color: white;
  font-size: 2rem;
}

#homepage-call-to-action .cta-text h3 {
  font-size: 2.5rem;
  padding: 2%;
}

#homepage-call-to-action .cta-text button {
  background-color: #e8505b;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  font-size: 1.5rem;
}

#homepage-call-to-action .cta-text button:hover {
  background-color: white;
  color: #383838;
  font-weight: 600;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.8rem;
}

.person img {
  length: 250px;
  width: 250px;
  border-radius: 50px;
}

.person h4 {
  text-align: center;
  margin: 0 0 10% 0;
  font-weight: 600;
  padding: 5%;
}

.person .bio-container {
  padding: 0 0 0 5%;
}
/*# sourceMappingURL=style.css.map */